In [10]:
import pandas as pd
import os
import numpy
from pymongo import MongoClient 
import urllib

In [11]:
def Filter(string):
    substr = ['.', """'"""]
    return [st for st in string if
             not any(sub in st for sub in substr)]

In [12]:
uri_string = f"mongodb+srv://dbAdmin:DFSp2560nbf@cluster0.mswwn.mongodb.net/test?authSource=admin&replicaSet=atlas-f5ik17-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true"
client = MongoClient(uri_string)

In [13]:
db = client.DFS_v2

In [14]:
qb_coll = db['QB_Collection']
rb_coll = db['RB_Collection']
wr_coll = db['WR_Collection']
te_coll = db['TE_Collection']
dst_coll = db['DST_Collection']

player_coll = db['Player_Data']

In [15]:
ss_data_cols = """Player
Team
Opponent
Position
Projection
Actual
Price
Value
proj_own
dk_point
dk_25_percentile
dk_50_percentile
dk_75_percentile
dk_85_percentile
dk_95_percentile
dk_99_percentile
fd_points
fd_25_percentile
fd_50_percentile
fd_75_percentile
fd_85_percentile
fd_95_percentile
fd_99_percentile
fdraft_points
fdraft_25_percentile
fdraft_50_percentile
fdraft_75_percentile
fdraft_85_percentile
fdraft_95_percentile
fdraft_99_percentile
yahoo_points
yahoo_25_percentile
yahoo_50_percentile
yahoo_75_percentile
yahoo_85_percentile
yahoo_95_percentile
yahoo_99_percentile
dk_std
fd_std
fdraft_std
yahoo_std
pass_attempts
completions
passing_yards
passing_td
receptions
receiving_yards
receiving_td
rushes
rushing_yards
rushing_td""".split('\n')

_4f4_proj_cols = """Season
Week
PID
Player
Position
Team
Opponent
aFPA
aFPA_Rk
FFPts
Comp
Pass_Att
Pass_Yds
Pass_TD
INT
Rush_Att
Rush_Yds
Rush_TD
Rec
Rec_Yds
Rec_TD
Pa1D
Ru1D
Rec1D
Fum
XP
FG
Grade""".split('\n')

_4f4_ceil_cols = """Season
Week
PID
Player
Position
Team
Opponent
aFPA
aFPA_Rk
FFPts
Comp
Pass_Att
Pass_Yds
Pass_TD
INT
Rush_Att
Rush_Yds
Rush_TD
Rec
Rec_Yds
Rec_TD
Pa1D
Ru1D
Rec1D
Fum
XP
FG
Grade
DK_Proj
DK_Price
DK_Val
DK_Pts_per_1k
DK_Flr
DK_Flr_Val
DK_Flr_per_1k
DK_Ceil
DK_Ceil_Val
DK_Ceil_per_1k
DK_Wk_Change
DK_Own_Percent
FD_Proj
FD_Price
FD_Val
FD_Pts_pr_1k
FD_Flr
FD_Flr_Val
FD_Flr_pr_1k
FD_Ceil
FD_Ceil_Val
FD_Ceil_pr_1k
FD_Wk_Change
FD_Own_Percent
Y_Proj
Y_Price
Y_Val
Y_Pt_pr_Dollar
Y_Flr
Y_Flr_Val
Y_Flr_pr_Dollar
Y_Ceil
Y_Ceil_Val
Y_Ceil_pr_Dollar
Y_Wk_Change
FyD_Proj
FyD_Price
FyD_Val
FyD_Pt_pr_1k
FyD_Flr
FyD_Flr_Val
FyD_Flr_pr_1k
FyD_Ceil
FyD_Ceil_Val
FyD_Ceil_pr_1k
FyD_Wk_Change
O_U
Line
Team_O_U""".split('\n')

_4f4_wr_fp_cols = ['Player', 'Position', 'Team', 'G', 'W5', 'W6', 'W7', 'W8', 'DK_Pts','DK_Pts_pr_G']
_4f4_rb_fp_cols = ['Player', 'Position', 'Team', 'G', 'W13', 'W14', 'W15', 'DK_Pts','DK_Pts_pr_G']
_4f4_rb_tar_cols = ['Player', 'Position', 'Team', 'G', 'W13', 'W14', 'W15', 'TGTs', 'TGTs_pr_G', 'Array']
airy_wr_cols = ['Player', 'Position', 'Team', 'targets', 'rec', 'rec_yards',
           'air_yards', 'yac', 'td', 'adot', 'racr', 'ms_air', 'tgt_share', 'wopr',
           'ppr', 'Tar_pr_Gam', 'AY_pr_Gam']
airy_te_cols = ['Player', 'Position', 'Team', 'targets', 'rec', 'rec_yards',
           'air_yards', 'yac', 'td', 'adot', 'racr', 'ms_air', 'tgt_share', 'wopr',
           'ppr', 'Tar_pr_3']

_4f4_redZ_cols = ['Season', 'Week', 'PID', 'Player', 'Position', 'Team', 'Opponent', 'aFPA',
'aFPA_Rk', 'FFPts', 'Comp', 'Pass_Att', 'Pass_Yds', 'Pass_TD', 'INT',
'Rush_Att', 'Rush_Yds', 'Rush_TD', 'Rec', 'Rec_Yds', 'Rec_TD', 'Pa1D',
'Ru1D', 'Rec1D', 'Fum', 'XP', 'FG', 'Grade', 'DK_proj', 'DK_price',
'DK_val', 'DK_Pt_pr_1k', 'DK_Flr', 'DK_Flr_Val', 'DK_Flr_pr_1k',
'DK_Ceil', 'DK_Ceil_Val', 'DK_Ceil_pr_1k', 'DK_Wk_Change',
'DK_Own_Percent', 'FD_proj', 'FD_price', 'FD_val', 'FD_Pt_pr_1k',
'FD_Flr', 'FD_Flr_Val', 'FD_Flr_pr_1k', 'FD_Ceil',
'FD_Ceil_Val', 'FD_Ceil_pr_1k', 'FD_Wk_Change', 'FD_Own_Percent',
'Y_proj', 'Y_price', 'Y_val', 'Y_Pt_pr_DOllar', 'Y_Flr',
'Y_Flr_Val', 'Y_Flr_pr_Dollar', 'Y_Ceil', 'Y_Ceil_Val',
'Y_Ceil_pr_Dollar', 'Y_Wk_Change', 'FyD_proj', 'FyD_price', 'FyD_val',
'FyD_Pt_pr_1k', 'FyD_Flr', 'FyD_Flr_Val', 'FyD_Flr_pr_1k',
'FyD_Ceil', 'FyD_Ceil_Val', 'FyD_Ceil_pr_1k', 'FyD_Wk_Change',
'O_U', 'Line', 'Team_O_U']

In [16]:
workbook_path = os.path.join('DFS', 'Resources', 'DraftKingsNoNotes.xlsx')

workbook = pd.ExcelFile(workbook_path)

ss_data = workbook.parse('SS Data').fillna('nan')
_4f4_proj = workbook.parse('4f4 Proj Data').fillna('nan')
_4f4_ceil = (workbook.parse('4f4 Ceiling Data')
             .fillna('nan')
             .astype({'Season' : 'int'}))
_4f4_redZ = workbook.parse('4f4 Red Z Data').dropna()
_4f4_wr_fp = workbook.parse('4f4 WR FP Last 4 ').fillna('nan')
_4f4_rb_fp = workbook.parse('4f4 RB FP Last 3').fillna('nan')
_4f4_rb_tar = workbook.parse('4f4 RB TAR Last 3').fillna('nan')
airy_wr = workbook.parse('AirY WR Last 4').drop(['Unnamed: 0'], axis=1).dropna()
airy_te = workbook.parse('AirY TE Last 3').drop(['Unnamed: 0'], axis=1).dropna()

ss_data.columns = ss_data_cols
_4f4_proj.columns = _4f4_proj_cols
_4f4_ceil.columns = _4f4_ceil_cols
_4f4_wr_fp.columns = _4f4_wr_fp_cols
_4f4_rb_fp.columns = _4f4_rb_fp_cols
_4f4_rb_tar.columns = _4f4_rb_tar_cols
airy_wr.columns = airy_wr_cols 
airy_te.columns = airy_te_cols 
_4f4_redZ.columns = _4f4_redZ_cols

In [17]:
ss_data.iloc[:, [0]] = ss_data.iloc[:, [0]].applymap(lambda x: str('').join(Filter(list(x))))
_4f4_proj.iloc[:, [3]] = _4f4_proj.iloc[:, [3]].applymap(lambda x: str('').join(Filter(list(x))))
_4f4_ceil.iloc[:, [3]] = _4f4_ceil.iloc[:, [3]].applymap(lambda x: str('').join(Filter(list(x))))
_4f4_wr_fp.iloc[:, [0]] = _4f4_wr_fp.iloc[:, [0]].applymap(lambda x: str('').join(Filter(list(x))))
_4f4_rb_fp.iloc[:, [0]] = _4f4_rb_fp.iloc[:, [0]].applymap(lambda x: str('').join(Filter(list(x))))
_4f4_rb_tar.iloc[:, [0]] = _4f4_rb_tar.iloc[:, [0]].applymap(lambda x: str('').join(Filter(list(x))))
airy_wr.iloc[:, [0]] = airy_wr.iloc[:, [0]].applymap(lambda x: str('').join(Filter(list(x))))
airy_te.iloc[:, [0]] = airy_te.iloc[:, [0]].applymap(lambda x: str('').join(Filter(list(x))))
_4f4_redZ.iloc[:, [3]] = _4f4_redZ.iloc[:, [3]].applymap(lambda x: str('').join(Filter(list(x))))

In [18]:
def search_index_keys(columns):
    index_cols = []
    if 'Player':
        index_cols.append('Player')
    if 'Week' in columns:
        index_cols.append('Week')
    if 'Season' in columns:
        index_cols.append('Season')
    if 'Position' in columns:
        index_cols.append('Position')
    if 'Opponent' in columns:
        index_cols.append('Opponent')
    return index_cols

In [19]:
def conditional_insert(df):
    for i in range(len(df)):
        row = df.iloc[i, :]
        index_cols = search_index_keys(row.keys())
        query_params = { ic : row.loc[ic] if not isinstance(row.loc[ic], (numpy.int64, numpy.int32)) else int(row.loc[ic]) for ic in index_cols}
        player_row = [x for x in player_coll.find(query_params, {'_id':False})]
        if len(player_row) != 0:
            row_dict = row.to_dict()
            for key in row_dict:
                if key in player_row[0] and row[key] == player_row[0][key]:
                    pass
                elif key not in player_row[0] and row[key] != None:
                    if isinstance(row[key], (numpy.int32, numpy.int64)):
                        player_coll.update_one(query_params, 
                                          {'$set': {key: int(row[key])}}
                                          )
                    else:
                        player_coll.update_one(query_params, 
                                          {'$set': {key: row[key]}}
                                          )
        elif len(player_row) == 0:
            row_dict = row.to_dict()
            for x in row_dict:
                if isinstance(row_dict[x], (numpy.int32, numpy.int64)):
                    row_dict[x] = int(row_dict[x])
                elif isinstance(row_dict[x], numpy.float64):
                    row_dict[x] = float(row_dict[x])
            
            player_coll.insert_one(row_dict)

In [20]:
conditional_insert(ss_data)
conditional_insert(_4f4_ceil)
conditional_insert(_4f4_proj)
conditional_insert(_4f4_rb_fp)
conditional_insert(_4f4_rb_tar)
conditional_insert(_4f4_redZ)
conditional_insert(_4f4_wr_fp)
conditional_insert(airy_te)
conditional_insert(airy_wr)

In [21]:
wr_list = [x for x in player_coll.find({'Position':'WR'}, {'_id':False})]

In [22]:
duplicates = pd.Series([x['Player'] for x in wr_list]).duplicated(keep=False)
wr_dups = pd.DataFrame(wr_list)
wr_dups['duplicates'] = duplicates

In [23]:
wr_dups.loc[wr_dups['duplicates'] == True]

,Player,Team,Opponent,Position,Projection,Actual,Price,Value,proj_own,dk_point,...,FD_val,FD_Pt_pr_1k,Y_proj,Y_price,Y_val,Y_Pt_pr_DOllar,FyD_proj,FyD_price,FyD_val,duplicates
0,Michael Thomas,NO,CAR,WR,23.3974,undefined,9900.0,2.363374,29.8,23.3974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,Davante Adams,GB,DET,WR,22.9653,undefined,8000.0,2.870662,13.4,22.9653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,Julio Jones,ATL,TB,WR,22.9278,undefined,8500.0,2.697388,17.9,22.9278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,Julian Edelman,NE,MIA,WR,16.5821,undefined,7300.0,2.271521,6.6,16.5821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,Tyreek Hill,KC,LAC,WR,16.4297,undefined,7700.0,2.133727,7.0,16.4297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Travis Fulgham,DET,@DEN,WR,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.6,0.19,0.9,10.0,-3.4,0.09,1.2,6000.0,-4.8,True
252,Cody Hollister,TEN,NO,WR,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.6,0.19,0.9,10.0,-3.4,0.09,1.2,6000.0,-4.8,True
254,KhaDarel Hodge,CLE,BAL,WR,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.1,0.10,0.4,10.0,-3.9,0.04,0.6,6000.0,-5.4,True
255,Andre Patton,LAC,OAK,WR,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.1,0.09,0.4,10.0,-3.9,0.04,0.5,6000.0,-5.5,True
256,Laquon Treadwell,MIN,GB,WR,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.7,0.07,0.4,10.0,-3.9,0.04,0.5,7100.0,-6.6,True

In [42]:
wr_dups.loc[wr_dups['Player'] == 'Davante Adams']

,Player,Team,Opponent,Position,Projection,Actual,Price,Value,proj_own,dk_point,...,FD_val,FD_Pt_pr_1k,Y_proj,Y_price,Y_val,Y_Pt_pr_DOllar,FyD_proj,FyD_price,FyD_val,duplicates
1,Davante Adams,GB,DET,WR,22.9653,undefined,8000.0,2.870662,13.4,22.9653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
136,Davante Adams,GB,@MIN,WR,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,1.82,14.9,29.0,2.4,0.51,18.7,15300.0,3.4,True

In [ ]:
ss_data.loc[ss_data['Position'] == 'QB']

In [ ]:
def insert_file(df):
    df.iloc